{% extends 'base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<h1>Update Profile: </h1>
<form method ="POST">
   {% csrf_token %}

      {{form.as_p}}<a href= "{% url 'password_change' %}">Change password!</a>  <br><hr><br>  
      <button type="Submit" class="btn btn-secondary">Save</button>
      <button type="button" class="btn btn-secondary"><a href = "{% url 'home' %}" style ="color : white">Home</button>
   
           
      <script>
         var paras = document.getElementsByClassName('helptext');
         while(paras[0]) {
        paras[0].parentNode.removeChild(paras[0]);
         }
         
         var paras2 = document.getElementById('id_password');
         paras2.remove();

         document.getElementById('id_password').removeChild();

      </script>
</form>
{% endblock %} 
